
<section class="ff-section-fullwidth login-form">
    <div class="container">
      <div class="mycard">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="myleftCtn">
              <h2>Login Here</h2>
              <form class="myForm" action="#" method="post">
                <div class="form-group"> <i class="fa fa-envelope"></i>
                  <input type="email" name="youremail" id="youremail" class="form-control" placeholder="Enter Email address">
                </div>
                <div class="form-group"> <i class="fa fa-lock"></i>
                  <input type="password" name="yourpassword" id="confirmPassword" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="auth-remember-check" name="remember">
                  <label class="custom-control-label" for="auth-remember-check">Remember Me</label>
                </div>
                </div>
                <div class="form-group">
                  <input type="submit" name="submit" class="btn btn-success" value="Creat Account">
                </div>
                <hr>
                <div class="mt-1 text-center">
                  <a class="text-muted" href="#">
                                                Forgot Password?
                                            </a>
                  
                </div>
                <hr>
                <div class="mt-2 text-center">
                  <div class="signin-other-title">
                   <p>Sign in with</p>
                  </div>
                  <ul class="list-inline">
                    <li class="list-inline-item"> <a href="#" class="social-list-item bg-primary text-white border-primary"> <i class="fa fa-facebook"></i> </a> </li>
                    <li class="list-inline-item"> <a href="#" class="social-list-item bg-info text-white border-info"> <i class="fa fa-twitter"></i> </a> </li>
                    <li class="list-inline-item"> <a href="#" class="social-list-item bg-danger text-white border-danger"> <i class="fa fa-google"></i> </a> </li>
                  </ul>
                </div>
                <div class="mt-2 text-center">
                  <p class="mb-0">Don't have an account ? <a href="#" class="font-weight-medium text-primary"> Signup now </a> </p>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="myRightCtn">
              <div class="box25">
                <header>
                  <h2>Hello Word</h2>
                </header>
                <p>Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>