body { }
.login-form { height: 100vh; width: 100%; background: #f7f7f7;}
.login-form .container{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: auto; height: 550px; max-width: 800px;}

.login-form .myRightCtn { position: relative; background-image: linear-gradient(45deg, #f404ff, #3f51b5); border-radius: 25px; height:84vh; padding: 25px; font-size: 16px; color: #fff; display: flex; justify-content: center; align-items: center;}

.login-form  .myleftCtn { position: relative; background: #fff; height: 100%; padding: 25px; border-radius: 25px; padding-left:50px;}
.login-form  .row { height: 100%;}
.login-form  .myleftCtn h2 { color: blueviolet; font-weight:700; font-size: 24px; margin-bottom: 2rem;}
.mycard { position: relative; background: #fff; height: 100%; border-radius: 25px; box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.7);}

.login-form  .myleftCtn .form-control { padding: 10px; border-radius: 25px; padding-left: 40px; box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, .7); height: calc(2em + .75rem + 2px);}
.login-form  .myleftCtn  .btn-success { background: linear-gradient(45deg, #c85bff, #b726ff); border-radius: 25px; box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, .7); border: none; padding: 10px 50px;  }
.login-form  .myleftCtn .form-group { position: relative;}
.login-form  .myleftCtn .form-group .fa{ position: absolute; left:16px; top:15px; font-size: 1.2rem; color: #4b59c6;}
.login-form  .myleftCtn  .btn-success:hover { background: linear-gradient(45deg, #c85bff, #b726ff) }
.login-form  .myleftCtn  label small { font-size: 14px;}
 
.login-form .custom-control-label { font-size: 16px;}

.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
    text-align: center;
    transition: all .4s;
}